<a href="https://colab.research.google.com/github/Oyin123/Assignment/blob/main/Adediran_Esther.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name:  Adediran Esther Abimbola
Matric no:  19/0017
Course of study:  Computer Science
Course: Machine Learning with Python

In [ ]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np
import seaborn as sns

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LogisticRegression

from sklearn.metrics import classification_report, precision_score

import optuna

In [ ]:
data = pd.read_csv("heart_2020_cleaned.csv")

In [ ]:
data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,No,16.60,Yes,No,No,3.0,30.0,No,Female,55-59,White,Yes,Yes,Very good,5.0,Yes,No,Yes
1,No,20.34,No,No,Yes,0.0,0.0,No,Female,80 or older,White,No,Yes,Very good,7.0,No,No,No
2,No,26.58,Yes,No,No,20.0,30.0,No,Male,65-69,White,Yes,Yes,Fair,8.0,Yes,No,No
3,No,24.21,No,No,No,0.0,0.0,No,Female,75-79,White,No,No,Good,6.0,No,No,Yes
4,No,23.71,No,No,No,28.0,0.0,Yes,Female,40-44,White,No,Yes,Very good,8.0,No,No,No

In [ ]:
data.columns

Index(['HeartDisease', 'BMI', 'Smoking', 'AlcoholDrinking', 'Stroke',
       'PhysicalHealth', 'MentalHealth', 'DiffWalking', 'Sex', 'AgeCategory',
       'Race', 'Diabetic', 'PhysicalActivity', 'GenHealth', 'SleepTime',
       'Asthma', 'KidneyDisease', 'SkinCancer'],
      dtype='object')

In [ ]:
data.shape

(319795, 18)

In [ ]:
data.describe(include='all')

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
count,319795,319795.000000,319795,319795,319795,319795.00000,319795.000000,319795,319795,319795,319795,319795,319795,319795,319795.000000,319795,319795,319795
unique,2,NaN,2,2,2,NaN,NaN,2,2,13,6,4,2,5,NaN,2,2,2
top,No,NaN,No,No,No,NaN,NaN,No,Female,65-69,White,No,Yes,Very good,NaN,No,No,No
freq,292422,NaN,187887,298018,307726,NaN,NaN,275385,167805,34151,245212,269653,247957,113858,NaN,276923,308016,289976
mean,NaN,28.325399,NaN,NaN,NaN,3.37171,3.898366,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.097075,NaN,NaN,NaN
std,NaN,6.356100,NaN,NaN,NaN,7.95085,7.955235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.436007,NaN,NaN,NaN
min,NaN,12.020000,NaN,NaN,NaN,0.00000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
25%,NaN,24.030000,NaN,NaN,NaN,0.00000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,NaN,NaN,NaN
50%,NaN,27.340000,NaN,NaN,NaN,0.00000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,NaN,NaN,NaN
75%,NaN,31.420000,NaN,NaN,NaN,2.00000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,NaN,NaN,NaN
max,NaN,94.850000,NaN,NaN,NaN,30.00000,30.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.000000,NaN,NaN,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319795 entries, 0 to 319794
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   HeartDisease      319795 non-null  object
 1   BMI               319795 non-null  float64
 2   Smoking           319795 non-null  object
 3   AlcoholDrinking   319795 non-null  object
 4   Stroke            319795 non-null  object
 5   PhysicalHealth    319795 non-null  float64
 6   MentalHealth      319795 non-null  float64
 7   DiffWalking       319795 non-null  object
 8   Sex               319795 non-null  object
 9   AgeCategory       319795 non-null  object
 10  Race              319795 non-null  object
 11  Diabetic          319795 non-null  object
 12  PhysicalActivity  319795 non-null  object
 13  GenHealth         319795 non-null  object
 14  SleepTime         319795 non-null  float64
 15  Asthma            319795 non-null  object
 16  KidneyDisease     319795 non-null  object
 17  SkinCancer        319795 non-null  object
dtypes: float64(4), object(14)
memory usage: 43.9+ MB

In [ ]:
labels_to_encode = data.select_dtypes(include="object").columns

encoder = LabelEncoder()
data[labels_to_encode] = data[labels_to_encode].apply(encoder.fit_transform)

data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,16.60,1,0,0,3.0,30.0,0,0,7,5,2,1,4,5.0,1,0,1
1,0,20.34,0,0,1,0.0,0.0,0,0,12,5,0,1,4,7.0,0,0,0
2,0,26.58,1,0,0,20.0,30.0,0,1,9,5,2,1,1,8.0,1,0,0
3,0,24.21,0,0,0,0.0,0.0,0,0,11,5,0,0,2,6.0,0,0,1
4,0,23.71,0,0,0,28.0,0.0,1,0,4,5,0,1,4,8.0,0,0,0

In [ ]:
labels_to_scale = data.select_dtypes(include="float").columns

scaler = StandardScaler()
data[labels_to_scale] = scaler.fit_transform(data[labels_to_scale])

data.head()

,HeartDisease,BMI,Smoking,AlcoholDrinking,Stroke,PhysicalHealth,MentalHealth,DiffWalking,Sex,AgeCategory,Race,Diabetic,PhysicalActivity,GenHealth,SleepTime,Asthma,KidneyDisease,SkinCancer
0,0,-1.844750,1,0,0,-0.046751,3.281069,0,0,7,5,2,1,4,-1.460354,1,0,1
1,0,-1.256338,0,0,1,-0.424070,-0.490039,0,0,12,5,0,1,4,-0.067601,0,0,0
2,0,-0.274603,1,0,0,2.091388,3.281069,0,1,9,5,2,1,1,0.628776,1,0,0
3,0,-0.647473,0,0,0,-0.424070,-0.490039,0,0,11,5,0,0,2,-0.763977,0,0,1
4,0,-0.726138,0,0,0,3.097572,-0.490039,1,0,4,5,0,1,4,0.628776,0,0,0

In [ ]:
data.HeartDisease.value_counts()

0    292422
1     27373
Name: HeartDisease, dtype: int64

In [ ]:
data = pd.concat([data.query('HeartDisease == 1'),
                  data.query('HeartDisease == 0').sample(frac=0.1)],
                ignore_index=True)

data.HeartDisease.value_counts()

0    29242
1    27373
Name: HeartDisease, dtype: int64

In [ ]:
X = data.drop("HeartDisease",1)
y = data["HeartDisease"]
X_train, X_test, y_train, y_test = train_test_split(
    X,y,random_state=43, stratify=y,test_size=0.2)

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)
y_preds = model.predict(X_test)

In [ ]:
print(classification_report(y_test,y_preds))

              precision    recall  f1-score   support

           0       0.76      0.75      0.75      5848
           1       0.74      0.74      0.74      5475

    accuracy                           0.75     11323
   macro avg       0.75      0.75      0.75     11323
weighted avg       0.75      0.75      0.75     11323

In [ ]:
def objective(trial):
    solver = trial.suggest_categorical("solver", ["newton-cg", "lbfgs", "liblinear", "sag", "saga"])
    penalty = trial.suggest_categorical("penalty", ["None", "l1", "l2", "elasticnet"])
    c = trial.suggest_float("c", 0.01, 100, log=True)
    clf = LogisticRegression(solver=solver)
    clf.fit(X_train, y_train)
    return precision_score(y_test, clf.predict(X_test))
    
study = optuna.create_study(direction='maximize')
study.optimize(objective, n_trials=20)

trial = study.best_trial
print('Precision score: {}'.format(trial.value))

print("Best hyperparameters: {}".format(trial.params))

[I 2022-12-24 21:06:27,436] A new study created in memory with name: no-name-59751e3a-5ea3-4083-aaaf-ca198eb2cee6
[I 2022-12-24 21:06:27,860] Trial 0 finished with value: 0.7369088603007792 and parameters: {'solver': 'lbfgs', 'penalty': 'elasticnet', 'c': 0.5054379390237154}. Best is trial 0 with value: 0.7369088603007792.
[I 2022-12-24 21:06:28,017] Trial 1 finished with value: 0.7371760014500635 and parameters: {'solver': 'liblinear', 'penalty': 'elasticnet', 'c': 0.4273552292508611}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:28,326] Trial 2 finished with value: 0.7367753623188406 and parameters: {'solver': 'newton-cg', 'penalty': 'None', 'c': 65.16904198925663}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:28,488] Trial 3 finished with value: 0.7371760014500635 and parameters: {'solver': 'liblinear', 'penalty': 'l1', 'c': 0.07654281457737123}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:28,792] Trial 4 finished with value: 0.7367753623188406 and parameters: {'solver': 'newton-cg', 'penalty': 'l1', 'c': 0.3758835557991386}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:29,031] Trial 5 finished with value: 0.7367753623188406 and parameters: {'solver': 'sag', 'penalty': 'None', 'c': 0.02000348717713217}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:29,182] Trial 6 finished with value: 0.7367753623188406 and parameters: {'solver': 'saga', 'penalty': 'elasticnet', 'c': 1.4026466836150102}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:29,417] Trial 7 finished with value: 0.7367753623188406 and parameters: {'solver': 'sag', 'penalty': 'l2', 'c': 3.297097751585566}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:29,584] Trial 8 finished with value: 0.7367753623188406 and parameters: {'solver': 'saga', 'penalty': 'l1', 'c': 8.016488862062063}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:29,771] Trial 9 finished with value: 0.7367753623188406 and parameters: {'solver': 'sag', 'penalty': 'elasticnet', 'c': 0.29801557355925157}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:29,933] Trial 10 finished with value: 0.7371760014500635 and parameters: {'solver': 'liblinear', 'penalty': 'l2', 'c': 0.010671299448282844}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:30,086] Trial 11 finished with value: 0.7371760014500635 and parameters: {'solver': 'liblinear', 'penalty': 'l1', 'c': 0.05526003207164817}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:30,236] Trial 12 finished with value: 0.7371760014500635 and parameters: {'solver': 'liblinear', 'penalty': 'elasticnet', 'c': 0.09292602918412547}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:30,397] Trial 13 finished with value: 0.7371760014500635 and parameters: {'solver': 'liblinear', 'penalty': 'l1', 'c': 0.08110544167108326}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:30,587] Trial 14 finished with value: 0.7371760014500635 and parameters: {'solver': 'liblinear', 'penalty': 'elasticnet', 'c': 0.15572955570733016}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:31,094] Trial 15 finished with value: 0.7369088603007792 and parameters: {'solver': 'lbfgs', 'penalty': 'l1', 'c': 1.2671736726239162}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:31,250] Trial 16 finished with value: 0.7371760014500635 and parameters: {'solver': 'liblinear', 'penalty': 'l2', 'c': 11.730860697808957}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:31,408] Trial 17 finished with value: 0.7371760014500635 and parameters: {'solver': 'liblinear', 'penalty': 'l2', 'c': 25.015555165074307}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:31,567] Trial 18 finished with value: 0.7371760014500635 and parameters: {'solver': 'liblinear', 'penalty': 'l2', 'c': 28.043443385735973}. Best is trial 1 with value: 0.7371760014500635.
[I 2022-12-24 21:06:31,865] Trial 19 finished with value: 0.7367753623188406 and parameters: {'solver': 'newton-cg', 'penalty': 'l2', 'c': 2.5172270149380114}. Best is trial 1 with value: 0.7371760014500635.

Precision score: 0.7371760014500635
Best hyperparameters: {'solver': 'liblinear', 'penalty': 'elasticnet', 'c': 0.4273552292508611}

In [ ]:
model = LogisticRegression(solver='sag', penalty='none', C=1.096096043416997)
model.fit(X_train, y_train)

LogisticRegression(C=1.096096043416997, penalty='none', solver='sag')

In [ ]:
data_point = X_test.sample(n=1,random_state=56)
model.predict(data_point)

array([1])

In [ ]:
y_test.loc[data_point.index]

23226    1
Name: HeartDisease, dtype: int64